*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/*Inicio Ajustes Header*/
html{
    overflow-x:hidden;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff ;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.20);
}

header img{
    width: 300px;
}

header li{
    list-style: none;
    display: inline;
    font-weight: 600;
    font-size: 1.2em;
}

header li a{
    text-decoration: none;
    color: #00458e;
    padding: 8px;
    margin: 10px;
}

header li a:hover{
    color: #025dbe;
    border-bottom: 3px solid #025dbe;
}

.selectioned{
    color: #025dbe;
    border-bottom: 3px solid #025dbe;
}

.banner img{
    width: 100%;
}

#home{
    margin-top: 50px;
    color: #00346b;
}

#home h2{
    color: #00346b;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 35px;
}

#home p{
    margin-top: 10px;
    font-size: 1.1em;
    text-align: justify;
}


.introductions{
    display: grid;
    grid-template-columns: 60% 30%;
    column-gap: 8%;
}

.intro img{
    width: 130%;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 30px;
    image-resolution: 100px;
}


.solutions{
    margin: 200px;
    margin-top: 100px;
    text-align: center;
}

#solutions>h2{
    color: #00346b;
    padding: 20px;
    margin: 0 300px;
    margin-bottom: 100px;
    font-size: 2.3em;
    border-bottom: #00458e solid 3px;
}


.services{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 8%;
    row-gap: 10%;
}

button{
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #00458e83;
}

button:hover{
    background-color: #002752;
}

.service{
    cursor:default;
    padding: 30px 20px 30px 20px;
    background-color: #00458e83;
    border-radius: 10px;
    transition: 1s;
}

.service img{
    width: 80px;
}

.signal{
    rotate: 180deg;
}

.service h3{
    padding: 10px 0;
}

.service p{
    text-align: justify;
}

.service:hover{
    scale: 1.1;
    background-color: #00458e;
}

footer{
    text-align: center;
    padding: 10px;
    font-size: .9em;
    background-color:#052a52;
    color: #fff;
}





/*Inicio Dimensionamento em Celular*/
@media screen and (max-width: 767px){
    .carousel-imagem{
        overflow-x:hidden;
    }

    .container{
        max-width: 90%;
    }
    
    html{
        overflow-x:hidden;
    }

    header{
        display:block;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    header img{
        width: 200px;
        margin: 10px 0;
    }
    
    header li{
        font-size: .6em;
    }
    
    header li a{
        text-decoration: none;
        color: #00458e;
        padding: 8px;
        margin: 10px;
    }

    .banner img{
        width: 100%;
    }
    
    #home h2{
        color: #00346b;
        font-weight: 300;
        font-size: 1.8em;
        line-height: 35px;
    }
    
    #home p{
        margin-top: 10px;
        font-size: .9em;
        text-align: justify;
        padding-bottom: 50px;
    }
    
    
    .introductions{
        display: block;
    }
    
    .intro img{
        display: none;
    }
    
    
    .solutions{
        display: block;
        margin: 0;
        margin-top: 10px;
        text-align: center;
    }
    
    #solutions>h2{
        color: #00346b;
        padding: 20px;
        margin: 0;
        margin-bottom: 60px;
        font-size: 2.3em;
        border-bottom: #00458e solid 3px;
    }
    
    .service{
        width: 100%;
        margin-bottom: 30px;
        cursor: pointer;
        padding: 30px 20px 40px 20px;
        background-color: #00458e83;
        border-radius: 10px;
        transition: 1s;
    }

    .services{
        display: block;
    }
    
    .service img{
        width: 60px;
    }
    
    .signal{
        rotate: 180deg;
    }
    
    .service h3{
        padding: 10px 0;
    }
    
    .service p{
        text-align: justify;
    }
    
    .service:hover{
        scale: 1.1;
        background-color: #00458e;
    }
    
    footer{
        font-size: .6em;
    }
}
/*Fim Dimensionamento em Celular*/


/*Inicio Dimensionamento em Tablet*/
@media screen and (min-width: 768px) and (max-width: 1022px) {
    .container{
        max-width: 90%;
    }

    .carousel-imagem{
        overflow-x:hidden;
    }

    html{
        overflow-x:hidden;
    }

    header img{
        width: 250px;
    }
    
    .banner img{
        width: 100%;
    }

    header li{
        font-size: .9em;
    }
    
    header li a{
        text-decoration: none;
        color: #00458e;
        padding: 0px;
        margin: 10px;
    }
    
    #home h2{
        color: #00346b;
        font-weight: 300;
        font-size: 2.5em;
        line-height: 40px;
    }
    
    #home p{
        margin-top: 10px;
        font-size: 1.3em;
        text-align: justify;
        padding-bottom: 50px;
    }
    
    
    .introductions{
        display: block;
    }
    
    .intro img{
        display: none;
    }
    
    
    .solutions{
        display: block;
        margin: 0;
        margin-top: 0;
        text-align: center;
    }
    
    #solutions>h2{
        color: #00346b;
        padding: 20px;
        margin: 0;
        margin-bottom: 60px;
        font-size: 2.3em;
        border-bottom: #00458e solid 3px;
    }
    
    
    .services{
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 46%);
        column-gap: 5%;
        row-gap: 5%;
        margin-bottom: 150px;
    }
    
    .service{
        cursor: pointer;
        padding: 30px 20px 40px 20px;
        background-color: #00458e83;
        border-radius: 10px;
        transition: 1s;
    }
    
    .service img{
        width: 80px;
    }
    
    .signal{
        rotate: 180deg;
    }
    
    .service h3{
        padding: 10px 0;
    }
    
    .service p{
        text-align: justify;
    }
    
    .service:hover{
        scale: 1.1;
        background-color: #00458e;
    }
    
    footer{
        text-align: center;
        padding: 18px;
        background-color:#052a52;
        color: #fff;
    }
}

/*Fim Dimensionamento em Tablet*/